# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings (optional)
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# MacOS & Windows
.DS_Store
Thumbs.db

# Environment
.env
.venv/
